<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Генерация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var dynamicTable = (function() {

    var _tableId, _table,
        _fields, _headers,
        _defaultText;

    /** Builds the row with columns from the specified names.
     *  If the item parameter is specified, the memebers of the names array will be used as property names of the item; otherwise they will be directly parsed as text.
     */

        function _buildRowColumnsHeader(names, item=undefined, type='td') {
        var row = '<tr>';
        if (names && names.length > 0)
        {
            $.each(names, function(index, name) {
                var c = item ? item[name+''] : name;
                row += (type === 'td') ? '<td>' + c + '</td>':
                '<th>' + c + '</th>';
            });
        }
        row += '</tr>';
        return row;
    }

    /** Builds and sets the headers of the table. */
    function _setHeaders() {
        // if no headers specified, we will use the fields as headers.
        _headers = (_headers == null || _headers.length < 1) ? _fields : _headers;
        var h = _buildRowColumnsHeader(_headers, null, 'th');

        if (_table.children('thead').length < 1) _table.prepend('<thead></thead>');
        _table.children('thead').html(h);
    }

    function _setNoItemsInfo() {
        if (_table.length < 1) return; //not configured.
        var colspan = _headers != null && _headers.length > 0 ?
            'colspan="' + _headers.length + '"' : '';

        var semantic_ui_empty = '<tr><td><div class="ui fluid placeholder"><div class="paragraph"><div class="line"></div><div class="line"></div><div class="line"></div></div></div></td></tr>';

        var content = '<tr class="ui celled table"><td ' + colspan + ' style="text-align:center">' +
            _defaultText + '</td></tr>' + semantic_ui_empty;

        if (_table.children('tbody').length > 0)
            _table.children('tbody').html(content);
        else _table.append('<tbody>' + content + '</tbody>');
    }

    function _removeNoItemsInfo() {
        var c = _table.children('tbody').children('tr');
        if (c.length == 1 && c.hasClass('ui celled table')) _table.children('tbody').empty();
    }

    return {
        /** Configres the dynamic table. */
        config: function(tableId, fields, headers, defaultText) {
            _tableId = tableId;
            _table = $('#' + tableId);
            _fields = fields || null;
            _headers = headers || null;
            _defaultText = defaultText || 'No items to list...';
            _setHeaders();
            _setNoItemsInfo();
            return this;
        },
        /** Loads the specified data to the table body. */
        load: function(data, append) {
            if (_table.length < 1) return; //not configured.
            _setHeaders();
            _removeNoItemsInfo();
            if (data && data.length > 0) {
                var rows = '';
                $.each(data, function(index, item) {
                    rows += _buildRowColumnsHeader(_fields, item);
                });
                var mthd = append ? 'append' : 'html';
                _table.children('tbody')[mthd](rows);
            }
            else {
                _setNoItemsInfo();
            }
            return this;
        },
        /** Clears the table body. */
        clear: function() {
            _setNoItemsInfo();
            return this;
        }
    };
    }());
    <!--------------------------------------------------->

    $(document).ready(function(){
    var dt = dynamicTable.config('data-table',
                                 ['fieldtext'],
                                 ['Текст'],
                                 'Нет данных для отображения...');

    <!-- Get element in table -->

    if (window.addEventListener) {
        window.addEventListener('load', run, false);
    } else if (window.attachEvent) {
        window.attachEvent('onload', run);
    }

    function run() {
        var t = document.getElementById('data-table');
        t.onclick = function (event) {
            event = event || window.event; //IE8
            var target = event.target || event.srcElement;
            while (target && target.nodeName != 'TR') { // find TR
                target = target.parentElement;
            }
            //if (!target) { return; } //tr should be always found
            var cells = target.cells; //cell collection - https://developer.mozilla.org/en-US/docs/Web/API/HTMLTableRowElement
            //var cells = target.getElementsByTagName('td'); //alternative
            if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                return;
            }
            var f1 = document.getElementById('emit_text');
            f1.value = cells[0].innerHTML;
            //console.log(target.nodeName, event);
        };
    }


    namespace = '/';
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

    socket.on('connect', function(){
        socket.emit('connection', {connection_confirmation: 'you are connected to the socket!'});
    });

    socket.on('progress_update', function(res) {
        var value = res.ratio
        var text_res = res.data_text
        $('#progress_main').progress({
          percent: value,
          label: 'ratio',
          text: {
                  ratio: value + ' %'
                }
        });

        console.log(text_res);
        dt.load(text_res);

    });

    $("#btn_start").click(function() {
          socket.emit('submit_result', {l_text:               $('#emit_text').val(),
                                        l_min_length:         $('#min_length').val(),
                                        l_max_length:         $('#max_length').val(),
                                        l_temperature:        $('#temperature').val(),
                                        l_top_p:              $('#top_p').val(),
                                        l_top_k:              $('#top_k').val(),
                                        l_repetition_penalty: $('#repetition_penalty').val()
                                        });
          console.log("Start emit");
        });

    // Vertical menu
    $('.ui.sidebar').sidebar({context: $('.bottom.segment')})
                    .sidebar('attach events', '.menu .item');

    // Star rating
    $('.special.card .image').dimmer({on: 'hover'});
    $('.star.rating').rating();
    $('.card .dimmer').dimmer({on: 'hover'});

    // Accordion
    $('.ui.accordion').accordion();

    $('.ui.form').form({
        inline : true,
        on: 'change',
        fields: {
          min_length: {
            identifier  : 'min_length',
            rules: [
              {
                type   : 'integer[20..300]',
                prompt : 'Пожалуйста ведите число от 50 до 300'
              }
            ]
          },
          max_length: {
            identifier  : 'max_length',
            rules: [
              {
                type   : 'integer[20..300]',
                prompt : 'Пожалуйста введите число от 50 до 300'
              }
            ]
          },
          temperature: {
            identifier  : 'temperature',
            rules: [
              {
                type   : 'decimal',
                prompt : 'Please enter a valid decimal'
              }
            ]
          },
          top_p: {
            identifier  : 'top_p',
            rules: [
              {
                type   : 'decimal',
                prompt : 'Please enter a valid decimal'
              }
            ]
          },
          top_k: {
            identifier  : 'top_k',
            rules: [
              {
                type   : 'decimal',
                prompt : 'Please enter a valid decimal'
              }
            ]
          },
          repetition_penalty: {
            identifier  : 'repetition_penalty',
            rules: [
              {
                type   : 'decimal',
                prompt : 'Please enter a valid decimal'
              }
            ]
          }

        }
    });

    });
    </script>
</head>
<body>
    <script>
<!--        function when_will_result() {-->
<!--            $.ajax({-->
<!--                type: 'POST',-->
<!--                url: '/task',-->
<!--                data: $('form').serialize(),-->
<!--                success: function(response, data) {-->
<!--                         console.log('SUCCESS when_will_result');-->
<!--                         console.log(data);-->
<!--                         },-->
<!--                error: function(error) {-->
<!--                       console.log('ERROR when_will_result');-->
<!--                       }-->
<!--            });-->
<!--        }-->
    </script>


<!--Test-->
<!--{% if message %}-->
<!--<p>{{ message }}</p>-->
<!--{% endif %}-->

<div class="ui container">
    <div class="ui top attached demo menu">
      <a id = "toggle" class="item"><i class="sidebar icon"></i> Меню </a>

        </div>
        <div class="ui bottom attached segment pushable">
          <div class="ui inverted labeled icon left inline vertical sidebar menu" style="">
            <a class="item"><i class="home icon"></i> Главная </a>
            <a class="item"><i class="calendar icon"></i> История </a>
          </div>
          <div class="pusher">
            <div class="ui basic segment">

                <h2 class="ui header">
                  <div class="content">
                      Генерация
                      <div class="sub header">Введите часть фразы </div>
                  </div>
                </h2>

                <form id="emit" action="/task" method = 'POST'>

                 <div class="ui action left icon input">
                  <i class="edit icon"></i>
                  <input type="text" id="emit_text" name="emit_text" placeholder="Ваш текст..." size="70">
<!--                  <button type="button" onclick="when_will_result();" id="btn_start" class="ui teal button">Искать</button>-->
                  <button type="button" id="btn_start" class="ui teal button">Начать</button>
                 </div>

                 <div class="ui accordion">
                  <div class="title">
                    <i class="cog icon"></i>
                    Гипер-параметры
                  </div>
                   <div class="content">
                       <div class="ui form error">
                          <div class="three fields">
                            <div class="field">
                              <label>MIN length</label>
                              <input id="min_length" name="min_length" type="text" value="50">
                            </div>
                            <div class="field">
                              <label>Max length</label>
                              <input id="max_length" name="max_length" type="text" value="150">
                            </div>
                            <div class="field">
                              <label>Temperature</label>
                              <input id="temperature" name="temperature" type="text" value="0.3">
                            </div>
                            <div class="field">
                              <label>Top P</label>
                              <input id="top_p" name="top_p" type="text" value="0.95">
                            </div>
                            <div class="field">
                              <label>Top K</label>
                              <input id="top_k" name="top_k" type="text" value="0">
                            </div>
                            <div class="field">
                              <label>Repetition penalty</label>
                              <input id="repetition_penalty" name="repetition_penalty" type="text" value="1.2">
                            </div>
                          </div>
                        </div>
                   </div>
                 </div>
                </form>

                <h2 class="ui header">
                    <div class="content">
                        Результат
                        <div class="sub header">Ожидайте пока процесс формирования текстов завершится</div>
                    </div>
                </h2>

                <div class="ui small active progress" id="progress_main" data-value="0" data-total="100">
                  <div class="bar">
                    <div class="progress"></div>
                  </div>

<!--                  <div class="label">Uploading Files</div>-->
                </div>

<!--                Result table-->

                <table id="data-table" class="ui celled padded table"></table>
<!--                example static table-->
<!--                  <thead>-->
<!--                  <tr>-->
<!--                    <th>Текст</th>-->
<!--                    <th>Качество</th>-->
<!--                  </tr></thead>-->
<!--                  <tbody>-->
<!--                    <tr>-->
<!--                      <td>Отправьте заявку на открытие расчетного счета . Мы перезвоним вам или составим договор и полюбуемся)</td>-->

<!--                      <td>-->
<!--                        <div class="ui star rating" data-rating="3" data-max-rating="3"></div>-->
<!--                      </td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                      <td>Карта сберегательная - Золотая карта Сбербанка россии. Банковская карточкатации рубля%. Бесплатный сыр только вокруг."</td>-->

<!--                      <td>-->
<!--                        <div class="ui star rating" data-rating="1" data-max-rating="3"></div>-->
<!--                      </td>-->
<!--                    </tr>-->

<!--                  <tr>-->
<!--                      <td>Откройте расчетный счет в Сбербанке и пользуйтесь расчетным счетом, пока не поздно.</td>-->

<!--                      <td>-->
<!--                        <div class="ui star rating" data-rating="2" data-max-rating="3"></div>-->
<!--                      </td>-->
<!--                  </tr>-->

<!--                  </tbody>-->
<!--                  <tfoot>-->
<!--                    <tr><th colspan="5">-->
<!--                      <div class="ui right floated pagination menu">-->
<!--                        <a class="icon item">-->
<!--                          <i class="left chevron icon"></i>-->
<!--                        </a>-->
<!--                        <a class="item active">1</a>-->
<!--                        <a class="item">2</a>-->
<!--                        <a class="item">3</a>-->
<!--                        <a class="item">4</a>-->
<!--                        <a class="icon item">-->
<!--                          <i class="right chevron icon"></i>-->
<!--                        </a>-->
<!--                      </div>-->
<!--                    </th>-->
<!--                  </tr></tfoot>-->
<!--                </table>-->

            </div>
          </div>

        </div>
</div>
</body>
</html>